snowflake-snowpark-python
snowflake-connector-python
snowflake.core
streamlit
pandas
python-dotenv
yfinance
newsapi-python
requests
numpy
trulens-eval
trulens-core
trulens-connectors-snowflake
trulens-feedback
trulens-providers-cortex


