[huggingface]
api_token = "YOUR_HUGGINGFACE_TOKEN_HERE"

[rapidapi]
key = "YOUR_RAPIDAPI_KEY_HERE"

[snowflake]
account = "YOUR_SNOWFLAKE_ACCOUNT"
user = "YOUR_SNOWFLAKE_USER"
password = "YOUR_SNOWFLAKE_PASSWORD"
role = "YOUR_SNOWFLAKE_ROLE"
warehouse = "YOUR_SNOWFLAKE_WAREHOUSE"
database = "YOUR_SNOWFLAKE_DATABASE"
schema = "YOUR_SNOWFLAKE_SCHEMA"
